*{
	margin:0;
	padding:0;
}
#container{
	background-color:gray;
}
#menu{
	width:30%;
	background-color:red;
	max-width:400px;
	margin:0px auto;
	text-align:center;
	position:fixed;
	top:0px;
	left:50%;

}
#menu ul li {
	display:inline;
	font-size:20px;

}
#sidebar{
		width:30%;
		background-color: steelblue;
}
#contenido{
	width:70%;
	background-color:green;
}